cache/*
!cache/index.php
!cache/readme.md
caves/*
!caves/index.php
!caves/readme.md
img/cavites
include/localconfig.php
lang/local/*
!lang/local/readme.md
langcache/*
!langcache/readme.md
ressources/*
!ressources/index.php
!ressources/readme.md
sessions/*
!sessions/readme.md
upgradeTools
logs/*
!logs/index.php
!logs/readme.md
include/localconfig.php
.ovhconfig
test.php
Varcave.phprj
lang/custom/*.ini
